
/Hurrican/Debug
/Hurrican/Release
/Hurrican/Hurrican.ncb
/Hurrican/Hurrican.suo
/Hurrican/Hurrican.hsl
/Hurrican/Hurrican.sdf
/Hurrican/ipch
/Hurrican/Game_Log.txt
/Hurrican/Hurrican.opensdf
/Hurrican/Vita/obj/
/Hurrican/Vita/*.psp2dmp
/Hurrican/Vita/eboot.bin
/Hurrican/Vita/hurrican.elf
/Hurrican/Vita/hurrican-stripped.elf
/Hurrican/Vita/hurrican.velf
/Hurrican/Vita/hurrican.vpk
/Hurrican/Vita/param.sfo
/Editor/Debug
/Editor/ipch
/Editor/Release
/Editor/Editor.sdf
/Editor/Editor.suo
/Editor/Logdatei.txt
xcuserdata/
