[submodule "Hurrican/Vita/portlibs"]
	path = Hurrican/Vita/portlibs
	url = https://github.com/xerpi/vita_portlibs.git
[submodule "Hurrican/Vita/vita2d"]
	path = Hurrican/Vita/vita2d
	url = https://github.com/petmac/libvita2d.git
[submodule "Hurrican/Vita/vita-parse-core"]
	path = Hurrican/Vita/vita-parse-core
	url = https://github.com/xyzz/vita-parse-core.git
